@use 'variables';

.category{
    margin-top: 72px;
    &__list{
        display: flex;
        gap: 30px;

        &__item{
            &__link{
                text-decoration: none;
                background-color: variables.$color--background-secundary;
                h3{
                    background-color: variables.$color--background-secundary;
                    color: variables.$color--text-secudary;
                    font-weight: 500;
                    padding: 8px 16px;
                    width: 160px;
                    text-align: center;
                }
            }

            &:hover{
                scale: 1.03;
            }
        }
    }

    @media (max-width: 1110px){
        &__list{
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            margin: 0 40px;
        }
    }

    @media (max-width: 615px){
        &__list{
            margin: 0 26px;
            &__item{
                max-width: 146px;
            }
        }
    }
}