@use 'variables';

.footer{
    text-align: center;
    padding: 17px 64px;
    background-color: variables.$color--background-secundary;
    color: variables.$color--text-secudary;

    @media(max-width: 768px){
        font-size: 13px;
    }
}