@use 'variables';

.header{
    background-color: variables.$color--background-secundary;
    color: variables.$color--text-secudary;
    padding: 13px 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    &__icons{
        display: flex;
        align-items: center;

        &__burguer{
            display: none;
        }

        &__list{
            display: flex;
            gap: 40px;
            margin-left: 40px;

            &__close{
                display: none;
            }

            li{
                transition: all ease .3s;
                a{
                    text-decoration: none;
                    color: variables.$color--text-secudary;
                }

                &:hover{
                    scale: 1.06;
                }
            }
        }
    }

    &__search{
        &__input{
            padding: 8px 16px;
            margin-right: 16px;
            font-size: 15px;
            border: none;

            &::placeholder{
                font-family: 'League Spartan', sans-serif;
                font-size: 15px;
            }
        }

        &__button{
            padding: 9px 12px;
            border: 1px solid variables.$color--text-secudary;
            background-color: variables.$color--background-secundary;
            color: variables.$color--text-secudary;
            cursor: pointer;
            transition: all ease .3s;

            &:hover{
                background-color: variables.$color--text-secudary;
                color: variables.$color--background-secundary;
            }
        }
    }

    @media(max-width: 890px){
        padding: 18px 23px 13px;
        &__icons{
            &__list{
                gap: 20px;
                margin-left: 20px;
                font-size: 13px;
            }
        }
        &__search{
            display: flex;
            justify-content: center;
            &__input{
                width:145px;
                height: 38px;
                font-size: 13px;

                &::placeholder{
                    font-size: 13px;
                }
            }

            &__button{
                font-size: 13px;
            }
        }
    }

    @media(max-width: 760px){
        flex-direction: column;
        padding: 0;
        &__icons{
            padding: 20px 22px;
            width: 100%;
            justify-content: inherit;
            

            &--with-menu{
                position: relative;
            }
            &__burguer{
                display: block;
                color: variables.$color--text-tertiary;
            }

            &__list{
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                width: 197px;
                background-color: #343A40;
                margin-top: -28px;
                margin-right: -22px;
                padding: 14px 25px;

                &__close{
                    display: block;
                    text-align: right;
                    color: variables.$color--text-tertiary;
                }

                li{
                    gap: 16px;
                    margin-top: 11px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid variables.$color--text-secudary;
                    

                    &:last-child{
                        border-bottom: none;
                    }

                    a{
                        font-weight: bold;
                        padding-bottom: 8px;
                    }
                }
            }
        }

        &__search{
            width: 100%;
            background-color: variables.$color--text-secudary;
            text-align: center;
            padding: 24px 25px;
            display: flex;
            gap: 8px;

            &__input{
                border: 1px solid variables.$color--background-secundary;
                width: 220px;
                font-size: 13px;

                &::placeholder{
                    font-size: 13px;
                }
            }

            &__button{
                background-color: variables.$color--text-secudary;
                color: variables.$color--background-secundary;
                border: 1px solid variables.$color--background-secundary;
                font-weight: 500;
            }
        }
    }
}