@use 'variables';

@mixin modalFormat(){
    max-width: 700px;
    width: 100%;
    box-shadow: 0px 4px 15px 0px rgba(44, 63, 88, 0.35);
    border-radius: 4px;
    background-color: #fff;
    display: none;

    @media(max-width: 720px){
        width: 343px;
    }
}

@mixin formatModalHeaderAndFooter(){
    background-color: variables.$color--background-secundary;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 18px 28px 18px 16px;
    border-radius: 4px 4px 0 0;
}

@mixin titleModal(){
    color: variables.$color--text-secudary;
    font-size: 20px;
    width: 100%
}

@mixin closeModal(){
    color: #6C757D;
    font-size: 32px;
    cursor: pointer;
    transition: all ease .3s;

    &:hover{
        color: variables.$color--text-tertiary;
    }
}

.modal{
    display: none;
    position: fixed;
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
    &__email{
        @include modalFormat();
        margin: 10% auto auto;
        &__header{
            @include formatModalHeaderAndFooter();

            &__text{
                @include titleModal();
            }

            &__close{
                @include closeModal();
            }
        }

        &__body{
            padding: 16px 16px 32px;
            background-color: variables.$color--text-secudary;
        }
    }

    &__product{
        @include modalFormat();
        margin: 3% auto auto;
        
        &__body{
            padding: 16px 16px 32px;
            display: flex;

            @media(max-width: 720px){
                flex-direction: column;
            }

            img{
                height: 422px;

                @media(max-width: 720px){
                    width: 311px;
                    height: auto;
                    margin-bottom: 24px;
                }
            }
        }

        &__description{
            padding: 0 16px;

            &__text{
                font-size: 13px;
                line-height: 20px;
                margin: 24px 0;
            }

            &__value{
                font-size: 20px;
                font-weight: 500;
                padding: 24px 0;
                border-top: 1px solid variables.$color--background-secundary
            }

            &__info{
                font-size: 13px;
                line-height: 20px;
                color: #ADB5BD;
                padding-bottom: 16px;
            }

            &__form{
                &__options{
                    border: none;
                    display: flex;
                    gap: 16px;
                    label{
                        display: flex;
                        flex-direction: column;
                        font-size: 13px;
                        cursor: pointer;
                        margin-bottom: 16px;
                    }

                    input{
                        cursor: pointer;
                        margin-bottom: 8px;
                    }
                }

                &__title{
                    font-size: 13px;
                    font-weight: bold;
                    padding: 16px 0;

                    border-top: 1px solid #ADB5BD;
                }
            }
        }

        &__footer{
            @include formatModalHeaderAndFooter();

            &__text{
                @include titleModal();
            }

            &__close{
                @include closeModal();
            }
        }
    }
}